*{
    margin: 0px;
    padding: 0px;
}
#wrapper{
    width: 600px;
    height: 600px;
    margin: 80px auto;
}
#myCanvas{
    border: 1px solid red;
    background-image:url("images/sbb.jpg");
}